*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 1000px;
    padding: 250px 0;
    margin: 50px auto;
    border-radius: 6px;
    background: url(../img/sundarban.jpg) no-repeat center center / cover;
    box-shadow: 0 10px 20px #80808099;
}

.title{
    color: #ffffff80;
    font-family: 'Redressed', cursive;
    font-size: 90px;
    text-align: center;
}

.quote{
    color: green;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 35px;
}

.about{
    width: 1000px;
    margin: 50px auto;
}

.text{
    color: #777;
    text-align: justify;
}

.btn--box{
    text-align: center;
    margin-top: 30px;
}

.btn{
    color: #ffffff99;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: green;
}